@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

html {
  scroll-behavior: smooth;
}

#root {
  font-family: 'Alkatra', cursive;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/darkness.png");
  min-height: 100vh;
}

.card img {
  height: 450px;
  object-fit: cover;
}

.navbar-brand {
  font-family: 'Alkatra', cursive;
  font-size: 3em !important;
}

h1 {
  color:chartreuse
}

h2 {
  color:chartreuse
}

p {
  color:chartreuse
}

div {
  color:chartreuse
}
